/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  

}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {

  
    .testmonial-image img {
        max-width: 100%;
    }
    .testmonial-counter {
        padding-bottom: 30px;
    }
    .section-title h2 {
        font-size: 25px;
    }
    .portfolio-menu button {
        padding: 4px 10px;
    }
}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {


}

 
/* small mobile :320px. */
@media (max-width: 767px) {

}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.container {width:450px}
 
}



@media only screen and (max-width: 1200px) {
    .footer-logo {
        height: 30%;
        width: 30%;
    }

    .logo-area {
        height: 120%;
        width: 120%;
    }

    .logos-img {
        display: none;
    }

    .logos-img-mobile {
        display: block;
    }
  }

  @media only screen and (max-width: 991px) {
    .service-bg {
      display: none;
    }
      #logo-image {
        height: 20%;
        width: 20%;
    }

    .cart-area {
        display: none !important;
    }


    #mobile-view {
        display: block;
    }

    .header-top-right {
        text-align: left;
    }

    .silider-content {
        margin-top: 20px;
    }
    

  

    /* #carouselExampleIndicators {
        margin-left: 0px !important;
    } */

    #header-container {
        margin-right: 0 !important;
        
        padding: 0 !important;
    }

    .single-feature { 
        margin-top: 10px;
    }

    .about-left {
        display: none;
    }

    .about-left-mobile {
        display: block;
    }

    .deck-tiles-img-mobile {
        display: block;
    }

    .deck-tiles-img {
        display: none;
    }

    .garages-img-mobile {
        display: block;
    }

    .garages-img {
        display: none;
    }

    #garages-img-mobile {
        width: 100%;
    }

    #deck-tiles-img-mobile {
        width: 100%;
    }





  }

  @media only screen and (max-width: 767px) {



    #nav-logo {
        width: 125px !important;
        height: 44px !important;
       
    }

    #nav-phone {
        background-color: #2a428c;
    }
 
      #logo-image {
        height: 35%;
        width: 35%;
    }

    .header-top-left::before {
        height: 70%
    }

    #mobile-text {
      margin-left: 20px;
    
    }

    #phone-text {
        font-size: 5px !important;
       display: none;
    }

    .header-top-right {
        padding: 0px 0;
    }

    #bbb {
        width: 35% !important;
     }
    
    #bbb2 {
       width: 120% !important;
       margin-left: 0px !important
    }


    .header-tr {
        padding: 10px;;
    }

    .header-tf {
        padding: 0;
    }
   
    #mobile-text-title {
        font-size: 20px;
    }

    #mobile-text-header {
        font-size: 50px;
    }

    #mobile-item {
        font-size: 15px;
    }

    .content-catagory {
        display: none;
    }

    .content-catagory-mobile {
        display: block
    }

    #mobile-nav-item {
        display: block;
     
    }

    .carousel-control-prev {
        left: 0px !important;
       }

       .carousel-control-next {
        right: 0px !important;
       }

       
    /* #carouselExampleIndicators {
        margin-left: 0px !important;
    }
   */

  }

  @media only screen and (max-width: 375px) {
      #mobile-text {
          margin-left: 20px;
          
      }


      #modalBody {
          font-size: 18px !important;
      }


      #mobile-text-header {
          font-size: 30px;
      }

      #mobileQuote {
          display: block !important
      }
  }

  @media only screen and (max-width: 500px) {

    #modalImage {
       
        margin: auto !important
      }
   
    #mobileQuote {
        display: block !important;
        margin-right: 0px !important
    }
}




